<div class="dropdown">
  <a class="clearfix color-picker-dropdown-button" data-toggle="dropdown" href="#">
    {{#if isColorTransparent}}
      {{view Ember.Widgets.ColorPickerCell
        color=selectedColor
        classNames="color-picker-cell-transparent"
      }}
    {{else}}
      {{view Ember.Widgets.ColorPickerCell
        color=selectedColor
      }}
    {{/if}}
    <span class="pull-right fa fa-caret-down color-picker-dropdown-caret"></span>
  </a>
  <div class="dropdown-menu color-picker-dropdown {{dropdownClass}}"
    role="menu" aria-labelledby="dLabel">
    {{#each row in colorRows}}
      <div class="color-row clearfix">
        {{#each color in row}}
          {{view Ember.Widgets.ColorPickerCell
            color=color
           }}
        {{/each}}
      </div>
      <hr>
    {{/each}}
    <form class="color-picker-custom-form {{if isCustomColorValid 'valid' 'invalid'}}"}}>
      <div class="form-group form-group-sm">
        <div class="input-group">
          <span class="input-group-addon
            color-picker-custom-preview {{if isCustomColor 'active'}}"
            style="customColorCSS" {{action "sendCustomColor"}}></span>
          {{view Ember.TextField value=customColor
            class="form-control input-sm"
            type="text"
            placeholder="HEX code"
          }}
        </div>
      </div>
    </form>
  </div>
</div>
